<!DOCTYPE html>
<html ng-app="PostCollection">
<head>
	<title>Yash's Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/lib/angular.js"></script>
	<script src="js/app.js"></script>
	</head>
<body>
<div class="container">
<div class="row" ng-controller="Postctrl">
<div class="col-md-12">
	<div class="col-md-3">
	<table class="table table-striped">
		<tr>
			<td><input type="text" ng-model="search" placeholder="search posts"></td>
		</tr>
		<tr ng-repeat="post in posts| filter:search">
			<td><a ng-href="#" ng-click="showpost(post.postid)">{{post.title}}</a></td>
		</tr>
	</table>
	</div>
	<div class="col-md-9" ng-show="post">
	<h2>{{post.title |uppercase}}</h2>
	<hr>
	<div>{{post.content}}
	</div>
	<hr>
	<h4>Author:{{post.author}}</h4>
	</div>
</div>
</div>
</div>
</body>
</html>