*{
	border:1px solid black !important;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display:block;
	flex-wrap: wrap;
}

row{
	width:100%;
}
.col1{
	width:8.33%;
}
.col2{
	width:16.66%; 
}
.col3{
	width: 25%;	
}
.col4{
	width:33.33%;
}
.col5{
	width: 41.65%;
}
.col6{
	width:49.98%;
}
.col7{
	width: 58.31%;
}
.col8{
	width: 66.64%;
}
.col9{
	width: 74.97%;
}
.col10{
	width: 83.3%;
}
.col11{
	width: 91.63%
}
.col12{
	width:100%;
}